.message {
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 63, 97);
    width: fit-content;
    min-width: 100px;
    max-width: 400px;
    word-wrap: break-word;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.messageName {
    font-size: small; 
    margin: 0px;
}

#selfMessage {
    background-color: rgb(166, 166, 216);
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}