.writeMessage {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 10px;
}

.inputMessage {
    width: 80%;
    padding: 5px;
}

.buttonSendMessage {
    width: 40px;
}